.banner {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
  margin-bottom: 100px;
  width: 60%;
}

#economy {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color: #FFF;
  font-size: 60px;
}

#planet {
  color: #FFF;
  font-size: 60px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

#privacy {
  color: #FFF;
  font-size: 60px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#about {
  background-color: #000;
  color: #FFF;
  font-size: 60px;
}

#past {
  color: #FFF;
  font-size: 60px;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

h2 {
  font-weight: 700;
  font-size: 45px;
}

p {
  font-size: 20px;
}
