html, body {
  height: 100%;
  width: 100%;
}

.bg {
  position: relative;
  text-align: center;
}

.bg img {
    height: 100vh;
    width: 90%;
    margin: auto;
    position: relative;
}

#buttons {
  display: inline-block;
  margin-right: 20px;
}

.explore {
  position: relative;
  bottom: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  color: #000;
}

#past {
  display:inline-block;
  margin-right:10px;
}
#future {
  display:inline-block;
}
