.home {
   background-color: #1D1D1D;
   color: #FFF;
   height: 100%;
}

.home img {
   position: absolute;
   top: 50%;
   left: 60%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

.home h1 {
  margin-top: 10%;
  margin-left: 14%;
  color: #1D1D1D;
  font-size: 100px;
  font-weight: 700;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.home h2 {
  position: relative;
  margin-left: 14%;
  color: white;
  font-size: 50px;
  font-weight: 500;
}

.home ul {
  margin-left: 12%;
  margin-top: 30px;
  list-style-type: none;
}

.home li {
  margin-top: 30px;
  font-size: 30px;
}

.home li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
}

.home li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.cta {
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  padding: 20px 30px 20px 30px;
  font-weight: 500;
}

.about:hover {
  color: #FFF;
  text-decoration: underline;
}

.banner {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 70px;
  margin-top: 70px;
  color: #FFF;
}

.container {
  margin-bottom: 100px;
  width: 60%;
}

#economy {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

#planet {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

#privacy {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#about {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

#past {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

#present {
  background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}

#conclusion {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.banner h1 {
  font-size: 60px;
}

.bodyText h2 {
  font-weight: 700;
  font-size: 45px;
}

.bodyText p {
  font-size: 20px;
}

.bodyText img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#caption {
  font-size: 16px;
  color: darkgray;
}

.tooltip.show {
    opacity: 1;
}

.tooltip img {
 max-width:500px;
 max-height:400px; /* change as your wish */
}

.tooltip-text {
  display: inline;
  text-decoration: underline;
  color: #0074D9;
  font-size: 20px;
}


.tooltip-text:hover {
  cursor: pointer;
}

mark {
  background-color: #7FDBFF;
  color: #000000;
}

.bottomNav {
  margin-top: 100px;
  height: 175px;
  text-align: center;
  color: #FFF;
}

.bottomNav h1 {
  margin-top: 35px;
  color: #FFF;
}

.bottomNav h2 {
  color: #FFF;
}

.bottomNav p {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

.bottomNav a:hover {
  text-decoration: none;
}

.glitch {
  position: relative;
  margin-left: 14%;
  color: white;
  font-size: 50px;
  font-weight: 500;
}

@keyframes noise-anim {
	 0% {
		 clip: rect(86px, 9999px, 32px, 0);
	}
	 5% {
		 clip: rect(9px, 9999px, 88px, 0);
	}
	 10% {
		 clip: rect(45px, 9999px, 89px, 0);
	}
	 15% {
		 clip: rect(23px, 9999px, 5px, 0);
	}
	 20% {
		 clip: rect(44px, 9999px, 10px, 0);
	}
	 25% {
		 clip: rect(40px, 9999px, 1px, 0);
	}
	 30% {
		 clip: rect(61px, 9999px, 34px, 0);
	}
	 35% {
		 clip: rect(96px, 9999px, 22px, 0);
	}
	 40% {
		 clip: rect(97px, 9999px, 94px, 0);
	}
	 45% {
		 clip: rect(44px, 9999px, 38px, 0);
	}
	 50% {
		 clip: rect(20px, 9999px, 53px, 0);
	}
	 55% {
		 clip: rect(88px, 9999px, 75px, 0);
	}
	 60% {
		 clip: rect(93px, 9999px, 11px, 0);
	}
	 65% {
		 clip: rect(30px, 9999px, 36px, 0);
	}
	 70% {
		 clip: rect(57px, 9999px, 1px, 0);
	}
	 75% {
		 clip: rect(94px, 9999px, 97px, 0);
	}
	 80% {
		 clip: rect(78px, 9999px, 87px, 0);
	}
	 85% {
		 clip: rect(64px, 9999px, 30px, 0);
	}
	 90% {
		 clip: rect(68px, 9999px, 98px, 0);
	}
	 95% {
		 clip: rect(59px, 9999px, 31px, 0);
	}
	 100% {
		 clip: rect(99px, 9999px, 67px, 0);
	}
}

 .glitch:after {
	 content: attr(data-text);
	 position: absolute;
	 left: 2px;
	 text-shadow: -1px 0 red;
	 top: 0;
	 color: white;
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim 10s infinite linear alternate-reverse;
}

 @keyframes noise-anim-2 {
	 0% {
		 clip: rect(71px, 9999px, 37px, 0);
	}
	 5% {
		 clip: rect(100px, 9999px, 13px, 0);
	}
	 10% {
		 clip: rect(22px, 9999px, 56px, 0);
	}
	 15% {
		 clip: rect(57px, 9999px, 72px, 0);
	}
	 20% {
		 clip: rect(19px, 9999px, 69px, 0);
	}
	 25% {
		 clip: rect(62px, 9999px, 55px, 0);
	}
	 30% {
		 clip: rect(43px, 9999px, 44px, 0);
	}
	 35% {
		 clip: rect(2px, 9999px, 88px, 0);
	}
	 40% {
		 clip: rect(93px, 9999px, 89px, 0);
	}
	 45% {
		 clip: rect(97px, 9999px, 100px, 0);
	}
	 50% {
		 clip: rect(48px, 9999px, 35px, 0);
	}
	 55% {
		 clip: rect(92px, 9999px, 4px, 0);
	}
	 60% {
		 clip: rect(99px, 9999px, 76px, 0);
	}
	 65% {
		 clip: rect(56px, 9999px, 53px, 0);
	}
	 70% {
		 clip: rect(91px, 9999px, 16px, 0);
	}
	 75% {
		 clip: rect(93px, 9999px, 34px, 0);
	}
	 80% {
		 clip: rect(14px, 9999px, 37px, 0);
	}
	 85% {
		 clip: rect(39px, 9999px, 61px, 0);
	}
	 90% {
		 clip: rect(18px, 9999px, 45px, 0);
	}
	 95% {
		 clip: rect(7px, 9999px, 45px, 0);
	}
	 100% {
		 clip: rect(88px, 9999px, 91px, 0);
	}
}

.glitch:before {
	 content: attr(data-text);
	 position: absolute;
	 left: -2px;
	 text-shadow: 1px 0 blue;
	 top: 0;
	 color: white;
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim-2 5s infinite linear alternate-reverse;
}
