body {
   background-color: #1D1D1D;
   color: #FFF;
   height: 100%;
}

img {
   position: absolute;
   top: 50%;
   left: 60%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

h1 {
  margin-top: 10%;
  margin-left: 14%;
  color: black;
  font-size: 100px;
  font-weight: 700;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

h2 {
  position: relative;
  margin-left: 14%;
  color: white;
  font-size: 50px;
  font-weight: 500;
}

ul {
  margin-left: 12%;
  margin-top: 40px;
  list-style-type: none;
}

li {
  margin-top: 10px;
  font-size: 30px;
}

li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.about {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #FFF;
  font-size: 30px;
}

.about:hover {
  color: #FFF;
  text-decoration: underline;
}
